{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>


</head>

{#    <img src = "{% static 'for_home.jpg' %}" style = "width: 20%; left: 20px;right: 20px;">#}

    <body id ="bg" style="background-image: url('{% static "img2.jpg" %}')">

    {% if quizzez  %}

        {% for i in quizzez %}

            <style>
                .content {
                    max-width: 500px;
                    margin: auto;
                    text-align: center;
                    display: inline;
                }
            </style>
            <div class="content">
            <div>
            <li>
{#                <a href="{% url 'quizz:quiz_view' i.id  %}">#}
                    {{ i.name }}


{#                </a>#}
                <a href="{% url 'quizz:quizz' %}?quiz={{ i.id }}">

                    <p>


                     Apasa aici pentru a incepe!!

                </p>
                </a>

            </li>
            </div>
        {% endfor %}

    {% endif %}

{% endblock %}
</body>
</html>