{% extends 'base.html' %}
{% block content %}
    {% load custom_templatetag %}
    {% load static %}

    <form method="post">
        {% csrf_token %}

        <body id ="bg" style="background-image: url('{% static "img2.jpg" %}')">
    <body style = "width: 100%;border: 6px solid #0db05c;">

    {% for item in answer_objects %}
        {% if forloop.counter|add:3|modulo:4 == 0 %}
            {{ item.quiz.description }}
            <input type="text" size="120"  id="id_label_{{ item.question.id  }}" value="{{ item.question.label }}" name="label_{{ item.question.id  }}">
        {% endif %}
            <p>
                <input type="radio" id="id_answer1_{{ item.question.id  }}" value="{{ item.text }}" name="asnwer1_{{ item.question.id  }}">{{ item.text }}

            </p>


        <div>


{#        <li><input type="radio" id="text" value="{{ item.is_correct }}">{{ item.text }}</li>#}
        <div>

    {% endfor %}


    <br>
    </div>
    </div>

    </body>

    <button class="btn btn-danger btn-center" type="submit">Submit</button>
    </form>
{% endblock %}